.hidden {
    opacity: 0.4;
    transition: all 0.5s ease-in;
    filter: blur(5px);
    transform: translateY(100px);
    overflow-y: hidden;
}

.hidden2 {
    transform: translatex(-250px);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}